@page "/"

<PageTitle>Index</PageTitle>

<p>The <strong>RazorClassLibrary1</strong> is loaded through Project Dependency</p>

<Component1></Component1>

<p>The <strong>RazorClassLibrary2</strong> is loaded from a url in the server with its assets</p>

@if (_componentType != null)
{
	<DynamicComponent Type="@_componentType" />
}

<p>You can select a dll file and their assets to load another components dynamically</p>

<InputFile OnChange="@LoadFiles" multiple />
<button type="button" class="btn btn-primary" @onclick="ConfirmUpdate">Upload</button>

@if (_componentType2 != null)
{
	<DynamicComponent Type="@_componentType2" />
}

@if (_types != null)
{
	<select @onchange='e => _componentType2 = _assembly?.GetType(e.Value?.ToString() ?? "")'>
	@foreach(var type in _types)
	{
		<option value="@type.FullName">(@type.BaseType?.Name) @type.Name</option>
	}
	</select>
}